:root {
  --main-color: rgb(224, 189, 64);
}

.about-us-container {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  color: white!important;
}

.about-us-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-us-text {
  flex: 1;
  padding: 20px;
  font-size: 1rem;
  color: #555;
}

.about-us-text p {
  color: white;
}

.goal {
  color: var(--main-color)!important;
}

.rounded {
  background-color: rgb(191, 191, 191);
  border-radius: 15px;
  width: 30vh;
  height: 30vh;
}

.about-us-image img {
  max-width: 100%;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
    align-items: center;
  }

  .about-us-image {
    margin-top: 20px;
  }
}

.about-us-text p{
  text-align: justify;
}